extends layout

block content
  div#card-modal
    div#card-detail
  header
    div#header-left
      a.header-button-boards(href='#') Boards
        i.fa.fa-trello
    div#header-search
      input(type="text")
      i.fa.fa-search
    a.header-logo(href="/")
    div#header-right
      a.header-button-plus(href='#') +
      a.header-button-user(href='#') <span id=user-icon>U</span>user
      a.header-button-alerts(href='#')
        i.fa.fa-bell-o
    i.fa.fa-exclamation-circle
  main
    div#board-header
      div#board-header-left
        h2
          a(href='#') My Board
        i.fa.fa-star-o
        div.button-private
          i.fa.fa-lock
    div#lists-container
      div#lists
      div#add-list