include /_mixins

doctype html
html
  head
    title Trello Clone
    +font_awesome_link_tag
    +jquery_css_tag
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
  block content

  +javascript_include_tag('application')
  +javascript_include_tag('models/list', 'models/card', 'models/activity', 'models/label')
  +javascript_include_tag('collections/lists', 'collections/cards', 'collections/activities', 'collections/labels', 'collections/notifications')
  +javascript_include_tag('views/list', 'views/addList', 'views/listActions', 'views/cards', 'views/moveAllCards', 'views/card', 'views/moveCard', 'views/copyCard', 'views/labels', 'views/search', 'views/notifications')
  script(type="text/javascript").
    App.lists = new Lists(!{JSON.stringify(lists)});
    App.labels = new Labels(!{JSON.stringify(labels)});
    App.notifications = new Notifications();
    App.init();
  +javascript_include_tag('router')
