<p>List Actions<i class="fa fa-close"></i></p>
<hr>
<ul>
  <li class="add-card">Add Card...</li>
  <li class="copy">Copy List...</li>
  <li class="subscribe">Subscribe</li>
  <hr>
  <li class="move-all-cards">Move All Cards in This List</li>
  <li class="archive-cards">Archive All Cards in This List</li>
  <hr>
  <li class="archive">Archive This List</li>
</ul>
