#board-header
  position: fixed
  top: 40px
  width: 100%
  background: colors.mainBg
  overflow: hidden
  padding: 10px 15px
  h2
    display: inline-block
    font-size: 18px
    margin-right: 30px
  a, i
    display: inline-block
    color: #ffffff
  .button-private
    display: inline-block
  i
    margin-right: 10px

#board-header-left
  float: left


#board-header-right
  float: right
  margin-right: 25px
  a
    text-decoration: underline
    font-size: 13px


