ul.cards
  min-height: 6px
  a
    display: block
  p
    cursor: pointer
    position: relative
    color: colors.listTitle
    padding: 0 20px 10px 0
    i
      opacity: 0
      text-align: center;
      line-height: 20px;
      width: 22px;
      height: 22px;
      position: absolute;
      right: 0px;
      top: -3px;
      background: #f00;
      &:hover
        opacity: 1
        background: colors.listGreyHover
        border-radius: 3px
  li
    cursor: pointer
    border-bottom: 1px solid #ccc;
    border-radius: 3px
    margin: 0 8px 6px 8px
    padding: 6px
    background: #ffffff
    &:hover
      background: colors.cardBgHover
  div.card-icons
    padding-left: 5px
    i
      color: colors.listAddText
      margin-right: 10px
    span
      color: #919292
      font-size: 12px
      margin-right: 2px
  div.label-icons
    width: 100%
    overflow: hidden
  div.label-icon
    float: left
    width: 42px
    height: 10px
    margin: 1px 1px
    border-radius: 3px
  .sortable-placeholder-card
    background: rgba(0, 0, 0, .15)
    width: 246px
    display: inline-block
    margin: 2px 5px