font = 14px "Helvetica Neue", Arial, Helvetica, sans-serif;

colors = {
  headerDark: #0094ae,
  headerLight: #4cb4c6,
  headerText: #edf3f5,
  headerHighlight: #5fbccc,
  boardHeaderText: #f6f6f6,
  mainBg: #00aecc
  addList: #009ab4
  addListText: #b3e1e9,
  addListHover: #007a8f,
  listTitle: #4d4d4d,
  listBg: #e2e4e6,
  listDots: #9c9c9c,
  listGreyHover: #cdd2d4,
  listAddText: #919292,
  listText: #555555,
  listDarkGrey: #4f4f4f,
  listTextLight: #8c8c8c,
  cardBg: #e2e4e6,
  cardBgHover: #e5e9ef,
  cardText: #5c5c5c
}

textInput()
  padding: 5px
  font-size: 14px
  box-sizing: border-box
  background: rgba(0,0,0,.05);
  box-shadow: inset 0 1px 8px rgba(0,0,0,.15)
  border: 1px solid #aaa;
  border-radius: 3px;
  &:focus
    outline: none

submitButton()
  cursor: pointer
  background: -webkit-linear-gradient(top,#61BD4F 0,#5AAC44 100%);
  box-shadow: 0 1px 0 #3F6F21;
  color: #fff;
  border: none
  border-radius: 3px
  padding: 6px 18px
  font-size: 14px