#notifications
  position: fixed
  top: 40px
  right: 0
  width: 475px
  height: 500px
  background: #e2e4e6
  border-radius: 3px;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  padding: 10px
  h3
    text-align: center
    color: #8c8c8c;
    font-weight: normal
    font-size: 18px
    margin-bottom: 10px
  i
    position: absolute
    top: 11px
    right: 17px
    color: #8c8c8c
    font-size: 20px
    cursor: pointer
  a
    display: block
    color: #4d4d4d
    padding: 8px
    margin: 10px 0
    background: #fff
    border-radius: 3px
  span
    text-decoration: underline
    color: #444
    font-weight: bold
