#notifications
  position: absolute
  top: 0
  right: 0
  width: 475px
  height: 500px
  background: #e2e4e6
  border-radius: 3px;
  border: 1px solid #D6DADC;
  border-bottom-color: #C4C9CC;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  padding: 10px
  h3
    text-align: center
    color: #8c8c8c;
    font-weight: normal
    font-size: 18px
    margin-bottom: 10px
  i
    position: absolute
    top: 11px
    right: 17px
    color: #8c8c8c
    font-size: 20px
  a
    display: block
    color: #4d4d4d
    padding: 8px
    margin: 10px 0
    background: #fff
    border-radius: 3px
  span
    text-decoration: underline


  // div.search-result
  //   overflow: hidden
  //   margin-bottom: 10px
  // a
  //   display: block
  //   position: relative
  //   top: 2px
  //   background: #fff
  //   width: 180px
  //   float: left
  //   padding: 5px
  //   border-radius: 3px
  // div.search-preview
  //   p
  //     font-size: 13px
  //     color: #444
  //     cursor: pointer
  // div.search-description
  //   width: 75%
  //   float: right
  //   width: 400px
  //   color: #444
  //   p
  //     font-weight: bold
  //     margin-bottom: 2px
  //     + p
  //       font-weight: normal
  //       color: #8c8c8c
  //       margin: 0
  //       span
  //         font-weight: bold

